body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#canvas {
	display: block;
	//border: 1px solid blue;
	margin: 50px auto;
}

.loader{
	margin: 10px auto;
	padding: 0;
	color: #000;
	background-image: url(../assets/ajax-loader.gif);
	background-repeat: no-repeat;
	background-size: contain;
	height: 32px;
	width: 32px;
}